<!doctype html>
<html>
	<head>
	<title>Squircle About</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet", href="{{url_for("static", filename="css/nav-bar.css")}}", type="text/css"/>
		<link rel="stylesheet", href="{{url_for("static", filename="css/style.css")}}", type="text/css"/>
		<link rel="stylesheet", href="{{url_for("static", filename="css/about.css")}}", type="text/css"/>
	</head>
	<body>
		<ul class="nav-bar">
			<li class="nav-bar"><a href="/">Home</a></li>
			<li class="nav-bar"><a href="{{ url_for("faq") }}">FAQ</a></li>
			<li class="nav-bar"><a href="{{ url_for("about") }}">About</a></li>
		</ul>
		<div id="about">
			<h2 id="about-title">About Us</h2>
			<hr>
			<div>
				<div class="rel section">
					<h3>Team Squircle</h3>
					<h4><p>Using the latest gen tech like deep learning, artificial intelligence, and the blockchain, Squircle delivers a compelling new way to interact with the world. 
					</p></h4>
					<h4><p>You can find our source code on <a href="https://github.com/CS1530Spring2018/Squircle">GitHub</a.> 
					</p></h4>
				</div>
			</div>
		</div>
	</body>
</html>
