<!doctype html>
<html>
	<head>
	<title>Squircle Help</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet", href="{{url_for("static", filename="css/nav-bar.css")}}", type="text/css"/>
		<link rel="stylesheet", href="{{url_for("static", filename="css/style.css")}}", type="text/css"/>
		<link rel="stylesheet", href="{{url_for("static", filename="css/faq.css")}}", type="text/css"/>
	</head>
	<body>
		<ul class="nav-bar">
			<li class="nav-bar"><a href="/">Back</a></li>
			<li class="nav-bar"><a class="active" href="{{ url_for("faq") }}">Help</a></li>
		</ul>
		<div id="faq">
			<h2 id="faq-title">Frequently Asked Questions</h2>
			<hr>
			<div>
				<div class="rel section">
					<h3>Account Creation</h3>
					<h4>How do I create an account?</h4>
					<p>To create an account, <a href="{{ url_for("logger") }}">click here</a>. Then click on <strong>Create a New Account</strong> and fill out your profile information. 
					Only the username and password are required, you may choose to leave out your age, country and about me blurb.
					</p>
				</div>
				<div class="rel section">
					<h3>Logging In And Out</h3>
					<h4>How do I log in?</h4>
					<p>To login, <a href="{{ url_for("logger") }}">click here</a>. Enter your username and password then click <strong>Login</strong>.</p>
					<h4>Why can't I log in?</h4>
					<p>If you are having problems logging in, wait a minute then try again and make sure your username and password are correct.
					</br>
					Note that while you are able to log in on the desktop site, it is recommended that you log in through the mobile site for full functionality.
					</p>
					<h4>How do I log out?</h4>
					<p>To log out, <a href="{{ url_for("unlogger") }}">click here</a>. Or you can click <strong>Logout</strong> from any page on the top header</p>
				</div>
				<div class="rel section">
					<h3>Creating a Lobby</h3>
					<h4>How do I create a lobby?</h4>
					<p>Click on <strong>Create a Lobby</strong> to create a lobby. Creating a lobby generates a random five digit Lobby Code - share this code with your friends so that they can join your lobby.</p>
					<h4>I can't create a lobby!</h4>
					<p>Lobby creation is only supported on the desktop site.</p>
				</div>
				<div class="rel section">
					<h3>Joining a Lobby</h3>
					<h4>How do I join a lobby?</h4>
					<p>You can join a lobby from your profile. First, you have to <a href="{{ url_for("logger") }}">log in</a>. Once you have successfully logged in, enter a five digit lobby code in the text box and click <strong>Join Lobby</strong>.</p>
					<h4>How come I can't join a lobby?</h4>
					<p>Make sure you entered the lobby code correctly. Lobbies will expire once all users have left the lobby.</p>
					<h4>Where do I get the lobby code from?</h4>
					<p>If your friend has created a lobby, they can share the lobby code for others to join. You can also create a lobby yourself by <a href="{{ url_for("lobby") }}">clicking here</a>.</p>
				</div>
				<div class="rel section">
					<h3>Gameplay</h3>
					<h4>How does the game work?</h4>
					<p>The game has four players. The first four users to join the lobby with be the players. Additional users will be added as spectators. The players will have a virtual controller on their phones. Drag on the left side of the screen to use the virtual joystick to move your character around. Tap on the right side of the screen to make your character jump.
					</p>
				</div>
				<div class="rel section">
					<h3>Chatting</h3>
					<h4>How do I chat about the game?</h4>
					<p>Spectators in a game will have access to a group chat application. You can send messages to the group that will be shown next to game.</p>
					<h4>Why don't I have a chat application?</h4>
					<p>Only spectators will have the chat application. Spectators are determined by order of joining the lobby, the first four users to join are players, and the rest are spectators.</p>
					<h4>How do I send messages?</h4>
					<p>Enter your message in the chat application and click <strong>Send</strong>. Your message will then appear in the chat window next to the game!</p>
					</p>
				</div>
			</div>
		</div>
	</body>
</html>
