{%extends "layout.html"%}
{%block head%}
	<title>Squircle Help</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet", href="{{url_for("static", filename="css/nav-bar.css")}}", type="text/css"/>
{%endblock%}
{%block body%}
	<ul class="nav-bar">
		<li class="nav-bar"><a href="{{ url_for("lobby") }}">Lobby</a></li>
		<li class="nav-bar"><a href="{{ url_for("logger") }}">Login/Profile</a></li>
		<li class="nav-bar"><a href="{{ url_for("unlogger") }}">Logout</a></li>
		<li class="nav-bar"><a class="active" href="{{ url_for("faq") }}">Help</a></li>
	</ul>
	<div id="faq">
	
	</div>
{%endblock%}