{%extends "layout.html"%}
{%block head%}
    <title>Game/Chat</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <link rel="stylesheet", href="{{url_for("static", filename="css/desktop.css")}}", type="text/css"/>
    <link rel="stylesheet", href="{{url_for("static", filename="css/chat.css")}}", type="text/css"/>

    <!-- controller/game -->
    <script  type="text/javascript" src="{{ url_for('static', filename='bower_components/phaser/dist/phaser.min.js') }}"></script>
    <script type = "text/javascript" src="https://cdn.scaledrone.com/scaledrone.min.js"></script>

	<!-- react-->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.4.2/react.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.4.2/react-dom.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/babel-standalone/6.21.1/babel.min.js"></script>
	
   <!-- chat-->	
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
	<script type = "text/javascript">
		var lobbycode = "{{code|safe}}"
		var socket = io.connect('http://' + document.domain + ':' + location.port);
	
		socket.on('connect', function() {
			socket.emit('create', {'code': lobbycode});
		});
	</script>
   
{%endblock%}
{%block body%}

    <div style="padding:10px;margin-top:20px;"></div>
    
    <div class="flex-container">

       <div style="flex-grow:1"></div>
		   <!-- for game-->
		<div id="game" style="flex-grow: 8;max-width:800px;min-width:800px;border-radius:32px">
            <script type="text/javascript" src="{{url_for('static', filename='scripts/js/testGame.js')}}"></script>
        </div>
		<div style="flex-grow:.5"></div>
        <!-- for react chat-->
        <div id="Chat" style="flex-grow: 4;min-width:250px">
			<script type="text/jsx" src="{{url_for('static', filename='scripts/jsx/chat.jsx')}}"></script>
		</div>
		<div style="flex-grow:1"></div>
		<!-- <div style="flex-grow: 0.1"></div> -->
		
    </div>
{%endblock%}
{% block tip %}
	Use your phone as a virtual controller! Drag the left side to move your character and tap on the right side to jump!
	</br>
	Chat messages from spectators will show up in the chat window!
{% endblock %}