{%extends "layout.html"%}
{%block head%}
    <title>Game/Chat</title>

    <link rel="stylesheet", href="{{url_for("static", filename="css/desktop.css")}}", type="text/css"/>

    <script  type="text/javascript" src="{{ url_for('static', filename='bower_components/phaser/dist/phaser.min.js') }}"></script>
    <script type = "text/javascript" src="https://cdn.scaledrone.com/scaledrone.min.js"></script>
    <script type="text/javascript" src="{{url_for("static", filename="bower_components/jquery/dist/jquery.min.js")}}"></script>
	<script type="text/javascript" src="{{url_for("static", filename="bower_components/socket.io-client/dist/socket.io.slim.js")}}"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<script type="text/javascript">
		{% if code %}
			var lobbycode = "{{code|safe}}";
		{% else %}
			var lobbycode = null;
		{% endif %}
	</script>
   <!-- for chat-->
   <!-- <script type="text/javascript" src="{{url_for("static", filename="scripts/js/index.js")}}"></script> -->
   
   <!-- for react-->
   <!-- <script src="https://unpkg.com/react@latest/dist/react.js"></script> -->
   <!-- <script src="https://unpkg.com/react-dom@latest/dist/react-dom.js"></script> -->
   <!-- <script src="https://unpkg.com/babel-standalone@6.15.0/babel.min.js"></script> -->

{%endblock%}
{%block body%}

   <div style="padding:20px;margin-top:30px;"></div>
    
   <div class="flex-container">
       
	   <!-- for game-->
	   <div id="game" style="flex-grow: 4">
			GAMEVIEW
			<script type="text/javascript" src="{{url_for('static', filename='scripts/js/testGame.js')}}"></script>
		</div>

	   <!-- for chat-->
		<div id="main_chatbox" style="flex-grow: 1">
			<div id="chatbox">
				<div id="history">
				</div>
				<!-- <textarea placeholder="Type here..." id="typing"></textarea> -->
			</div>
			<!-- <button id="sendMessage" type="button">Send</button> -->
		</div>
    </div>
	<script type="text/javascript">
		function setup() {
			if (lobbycode != null) {
				var socket = io.connect('http://' + document.domain + ':' + location.port);
				socket.on('connect', function() {
					socket.emit('join', {'code': lobbycode});
				});
			}
			socket.on('new message', function(m, sender) {
			$("#history").append($("<p>").text(sender+":"+m));
			document.getElementById("history").scrollTop = history.scrollHeight;
	});
		}
		$(window).on("ready", setup);
	</script>
{%endblock%}