{%extends "layout.html"%}
{%block head%}
    <title>Game/Chat</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <link rel="stylesheet", href="{{url_for("static", filename="css/desktop.css")}}", type="text/css"/>
    <!-- <link rel="stylesheet", href="{{url_for("static", filename="css/chat.css")}}", type="text/css"/> -->

    <!-- controller/game -->
    <script  type="text/javascript" src="{{ url_for('static', filename='bower_components/phaser/dist/phaser.min.js') }}"></script>
    <script type = "text/javascript" src="https://cdn.scaledrone.com/scaledrone.min.js"></script>
    <script type="text/javascript" src="{{url_for("static", filename="bower_components/jquery/dist/jquery.min.js")}}"></script>

   <!-- react-->
   <script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.4.2/react.js"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.4.2/react-dom.js"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-standalone/6.21.1/babel.min.js"></script>
   <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>

   <!-- chat-->
   
{%endblock%}
{%block body%}

    <div style="padding:10px;margin-top:20px;"></div>
    
    <div class="flex-container">
       
           <!-- for game-->
        <div id="game" style="flex-grow: 4">
            <script type="text/javascript" src="{{url_for('static', filename='scripts/js/testGame.js')}}"></script>
        </div>

        <!-- for react chat-->
        <div id="Chat" style="flex-grow: 1">
            <script type="text/babel" src="{{url_for('static', filename='scripts/js/chat.js')}}"></script>
        </div>
    </div>

    

{%endblock%}