{% extends "layout.html" %}
{% block head %}
	<meta charset="utf-8">
	<meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1, maximum-scale=1">
	<link rel="stylesheet", href="{{url_for("static", filename="css/main_controller.css")}}", type="text/css"/>
	<script type="text/javascript" src="{{url_for("static", filename="bower_components/jquery/dist/jquery.min.js")}}"></script>
	<script type ="text/javascript" src="https://cdn.scaledrone.com/scaledrone.min.js"></script>
	<script type="text/javascript" src="{{url_for("static", filename="bower_components/hammerjs/hammer.min.js")}}"></script>
	<script type="text/javascript" src="{{ url_for("static", filename="scripts/js/myjoystick.js") }}"></script>
	<title>Controller</title>
	<script type="text/javascript">
		var plist = ["player_one", "player_two", "player_three", "player_four"];
		var playerNum = {{playerNum|safe}};
		var username = "{{username|safe}}";
		var curr_room = plist[playerNum];
	</script>
	<script type="text/javascript" src="{{ url_for("static", filename="scripts/js/main_controller.js") }}"></script>
	<script type-"text/javascript">
		$(document).ready(function() {
			switch(playerNum) {
				case 0:
					$(".containerL").css("background-color", "rgb(149, 0, 235)");
					$(".containerL").css("border-left", "1px solid rgb(149, 0, 235)");
					$(".containerL").css("border-right", "1px solid rgb(149, 0, 235)");
					break;
				case 1:
					$(".containerL").css("background-color", "rgb(235, 27, 0)");
					$(".containerL").css("border-left", "1px solid rgb(235, 27, 0)");
					$(".containerL").css("border-right", "1px solid rgb(235, 27, 0)");
					break;
				case 2:
					$(".containerL").css("background-color", "rgb(5, 150, 0)");
					$(".containerL").css("border-left", "1px solid rgb(5, 150, 0)");
					$(".containerL").css("border-right", "1px solid rgb(5, 150, 0)");
					break;
				case 3:
					$(".containerL").css("background-color", "rgb(247, 247, 0)");
					$(".containerL").css("border-left", "1px solid rgb(247, 247, 0)");
					$(".containerL").css("border-right", "1px solid rgb(247, 247, 0)");
			}
		});
		
	</script>
{% endblock %}
{% block body %}
	<script>
		
		function orientationChangeHandler() {
			/*
			 *Use a time out so the refresh actually happens.
			 *Without refresh its basically by chance if the window actually refreshes or not.
			 */
			setTimeout(function(){
				window.location = window.location;
			},100); 
		}
		$(window).on("load", function() {
			window.addEventListener('orientationchange', orientationChangeHandler);
			if (!screen.orientation.type.startsWith('landscape')) {
				alert('To start, rotate your screen to landscape.');
			}
		});
	</script>
{% endblock %}
</html>