<!doctype html>
<html>
	<head>
		<link rel="stylesheet", href="{{url_for("static", filename="css/style.css")}}", type="text/css"/>
		<link rel="stylesheet", href="{{url_for("static", filename="css/login.css")}}", type="text/css"/>
		<script type="text/javascript" src="{{url_for("static", filename="bower_components/jquery/dist/jquery.min.js")}}"></script>
		{% block head %}{% endblock %}
	</head>
	
	<body>
		{% with messages = get_flashed_messages() %}
			{% if messages %}
				<div id="flash" class="modal" style="display:block;">
					
					<div class="modal-content animate">
						<div class="imgcontainer">
							<span onclick="document.getElementById('flash').style.display='none'" class="close" title="Close Modal">&times;</span>
							<img src="../static/images/logos/logo_black.png" class="scale-logo-small">
						</div>
						<div class="container">
							{% for message in messages %}
								<p class="warning">{{ message }}</p>
							{% endfor %}
						</div>
					</div>
				</div>
			{% endif %}
		{% endwith %}
		
		{%block body%}{%endblock%}
		<div id="help">
			<div id="header-content">
				<span class="text-center" id='close'>&#8681;</span>
				<h3>Help</h3>
			</div>
			
			<div id="help-content">
				<hr>
				<p>{% block tip %}{% endblock %}</p>
			</div>
		</div>
		<script type="text/javascript">
			document.getElementById("close").onclick = function() {
				var arrow = $("#close").html();
				if(arrow == "\u21e9") {     
					$("#close").html("\u21e7"); 
					$("#help-content").attr("hidden", "hidden");
				} else {            
					$("#close").html("\u21e9");   
					$("#help-content").removeAttr("hidden");				
				}
			};
		</script>
	</body>
</html>