{%extends "layout.html"%}
{%block head%}
	<title>Squircle Lobby</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet", href="{{url_for("static", filename="css/nav-bar.css")}}", type="text/css"/>
	<link rel="stylesheet", href="{{url_for("static", filename="css/lobby.css")}}", type="text/css"/>
	<link rel="stylesheet", href="{{url_for("static", filename="css/login-container.css")}}", type="text/css"/>
	<script type="text/javascript" src="{{url_for("static", filename="bower_components/socket.io-client/dist/socket.io.slim.js")}}"></script>
	<script type="text/javascript">
		{% if code %}
			var lobbycode = "{{code|safe}}";
		{% else %}
			var lobbycode = null;
		{% endif %}
		var numPlayers = {{num_players|safe}};
	</script>
	<script type="text/javascript" src="{{url_for("static", filename="scripts/js/lobby.js")}}"></script>
	
{%endblock%}
{%block body%}
	<ul class="nav-bar">
		<li class="nav-bar"><a href="{{ url_for("faq") }}">Help</a></li>
	</ul>
	
	<div style="padding:20px;margin-top:100px;"></div>
	<div>
		<div class="center">
			<img src="../static/images/logos/squircle_logoWtext.png" class="scale-logo-large" alt="Squircle">
			<div style="padding:5px;margin-top:5px;"></div>
			<h2 class="text-center" style="font-size:36px" id="lobbycode">{% if code %}Join Lobby: {% endif %}</h2>
			<h1 class="text-center" style="margin-top:-20px" id="lobbycode">{% if code %}{{code}}{% endif %}</h1>
			{% if not code %}
			<button id="genLobbyCode" class="button_lobby">Create Lobby</button>
			{% endif %}		
		</div>
		
	</div>
	<div style="margin:0 auto;text-align:center;width:80%;max-width:1000px;min-width:400px">
		<div id="players" style="float:left;padding-left:6%;padding-bottom:20px;text-align:left;width:41%;font-size:16px">
		</div>
		<div id="spectators" style="margin-left:51%;padding-left:6%;padding-bottom:20px;text-align:left;width:41%;font-size:16px">
		</div>
	</div>	
	
{%endblock%}
{% block tip %}
	Click on <strong>Create a Lobby</strong> to create a lobby. Creating a lobby generates a Lobby Code - share this code with your friends so that they can join your lobby!
{% endblock %}
