{%extends "layout.html"%}
{%block head%}
	<title>Squircle Lobby</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet", href="{{url_for("static", filename="css/nav-bar.css")}}", type="text/css"/>
	<script type="text/javascript" src="{{url_for("static", filename="bower_components/jquery/dist/jquery.min.js")}}"></script>
	<script type="text/javascript" src="{{url_for("static", filename="bower_components/socket.io-client/dist/socket.io.slim.js")}}"></script>
	<!-- react-->
	<link rel="stylesheet", href="{{url_for("static", filename="css/desktop.css")}}", type="text/css"/>
	<link rel="stylesheet", href="{{url_for("static", filename="css/chat.css")}}", type="text/css"/>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.4.2/react.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.4.2/react-dom.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/babel-standalone/6.21.1/babel.min.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
	<script tpye="text/javascript">
		var data = {{data|safe}};
		var username = data["username"];
		var lobbycode = "{{code}}";
		var users = data["users"];
		var players = users["players"];
		var spectators = users["spectators"];
		var numPlayers = data["num_players"];
		var socket;
		socket = io.connect('http://' + document.domain + ':' + location.port);
	
		socket.on('connect', function() {
			socket.emit('join', {'code': lobbycode, 'username':username});
		});
		console.log(data);
		console.log(users);
	</script>
	<script type="text/javascript" src="{{url_for("static", filename="scripts/js/lobbym.js")}}"></script>
{%endblock%}
{%block body%}
	<ul class="nav-bar">
		<li class="nav-bar"><a class="active" href="{{ url_for("lobby") }}">Lobby</a></li>
		<li class="nav-bar"><a href="{{ url_for("logger") }}">Login/Profile</a></li>
		<li class="nav-bar"><a href="{{ url_for("unlogger") }}">Logout</a></li>
	</ul>	

	<div id="container" class="text-center">
		<h1 class="text-center" id="lobbycode">Lobby {% if code %} {{code}} {% endif %}</h1>
	</div>
	
	<div id="userslist">
		<div id="wrapper">
			<div id="players">
			</div>
			<div id="spectators">
			</div>
		</div>
		<button id="ready" type="button" class="yellow-button" disabled>I'm Ready</button>
	</div>
	
	<!-- for react chat-->
	<div id="chatcontainer" >
	<div id="Chat" >
		<script type="text/babel">
			const Message = ({chat, user}) => (
				<div>
					<p className="um">{`${user === chat.username ? "":chat.username}`}</p>
					
					<li className={`chat ${user === chat.username ? "right" : "left"}`}>
						{user !== chat.username
						}
						{chat.content}
					</li>
				</div>
			);

			class Chatroom extends React.Component {
				constructor(props) {
					super(props);
					this.state = {chats:[]};
					this.submitMessage = this.submitMessage.bind(this);
					this._handleNewMessage = this._handleNewMessage.bind(this);
				}
				getInitialState() {
					return {chats:[]};
				}
				_handleNewMessage(m, sender) {
					if (sender != username) {
						this.setState({
							chats: this.state.chats.concat([{
								username: sender,
								content: <p>{m}</p>
							}])
						}, () => {
							ReactDOM.findDOMNode(this.refs.msg).value = "";
						});
					}
				}
				componentDidMount() {
					socket.on('new message', this._handleNewMessage);
					this.scrollToBot();
				}

				componentDidUpdate() {
					this.scrollToBot();
				}

				scrollToBot() {
					ReactDOM.findDOMNode(this.refs.chats).scrollTop = ReactDOM.findDOMNode(this.refs.chats).scrollHeight;
				}

				submitMessage(e) {
					e.preventDefault();
					socket.emit('new message', {"username":username, "room":lobbycode, "message":ReactDOM.findDOMNode(this.refs.msg).value});
					this.setState({
						chats: this.state.chats.concat([{
							username: "username",
							content: <p>{ReactDOM.findDOMNode(this.refs.msg).value}</p>
						}])
					}, () => {
						ReactDOM.findDOMNode(this.refs.msg).value = "";
					});
				}
				
				
				
				render() {
					const username = "username";
					const { chats } = this.state;

					return (
						<div className="chatroom">
							<h3>Squircle</h3>
							<ul className="chats" ref="chats">
								{
									chats.map((chat) => 
										<Message chat={chat} user={username} />
									)
								}
							</ul>
							<form className="input" onSubmit={(e) => this.submitMessage(e)}>
								<input type="text" ref="msg" />
								<input type="submit" value="Submit" />
							</form>
						</div>
					);
				}
			}
				
			ReactDOM.render(
				<Chatroom />,
				document.getElementById('Chat')
			);
		</script>
	</div>
	</div>
	
	
{%endblock%}
