{%extends "layout.html"%}
{%block head%}
	<title>Squircle Lobby</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<script type="text/javascript" src="{{url_for("static", filename="bower_components/jquery/dist/jquery.min.js")}}"></script>
	<script type="text/javascript" src="{{url_for("static", filename="bower_components/socket.io-client/dist/socket.io.slim.js")}}"></script>
	<script tpye="text/javascript">
		var data = {{data|safe}};
		var username = data["username"];
		var lobbycode = "{{code}}";
		var users = data["users"];
		var players = users["players"];
		var spectators = users["spectators"];
		var numPlayers = data["num_players"];
		console.log(data);
		console.log(users);
	</script>
	<script type="text/javascript" src="{{url_for("static", filename="scripts/js/lobbym.js")}}"></script>
{%endblock%}
{%block body%}

	<div id="container">
		<h1 class="text-center" id="lobbycode">Lobby {% if code %} {{code}} {% endif %}</h1>
		
	</div>
	<div id="wrapper">
		<div id="players">
		</div>
		<div id="spectators">
		</div>
	</div>
	<button id="ready" type="button" disabled>I'm Ready</button>
	
	<div id="main_chatbox"hidden>
		<div id="chatbox">
			<div id="history">
			</div>
			<textarea placeholder="Type here..." id="typing" onKeyup="sendMessage(event);"></textarea>
		</div>
		<form action="" method = "post" class="text-center">
			<input type="hidden" name="leave" value="">
				<input type="submit" value="Leave Chatroom">
			<br/>
		</form>
	</div>
	
{%endblock%}
