{%extends "layout.html"%}
{%block head%}
	<title>Squircle Lobby</title>
	<link rel="stylesheet", href="{{url_for("static", filename="css/nav-bar.css")}}", type="text/css"/>
	<script type="text/javascript" src="{{url_for("static", filename="bower_components/jquery/dist/jquery.min.js")}}"></script>
	<script type="text/javascript" src="{{url_for("static", filename="bower_components/socket.io-client/dist/socket.io.slim.js")}}"></script>
	<script type="text/javascript">
		{% if code %}
			var lobbycode = "{{code|safe}}";
		{% else %}
			var lobbycode = null;
		{% endif %}
		var numPlayers = {{num_players|safe}};
	</script>
	<script type="text/javascript" src="{{url_for("static", filename="scripts/js/lobby.js")}}"></script>
	
{%endblock%}
{%block body%}
	<ul class="nav-bar">
		<li><a class="active" href="{{ url_for("lobby") }}">Lobby</a></li>
		<li><a href="{{ url_for("logger") }}">Login/Profile</a></li>
		<li><a href="{{ url_for("unlogger") }}">Logout</a></li>
	</ul>

	<div style="padding:20px;margin-top:30px;"></div>
	<div id="container" class="center">
		<img src="../static/images/logos/logo_black_squircle.png" class="scale-logo-small" alt="Squircle">
		<div style="padding:5px;margin-top:5px;"></div>
		<h2 class="text-center" style="font-size:36px" id="lobbycode">{% if code %}join lobby: {% endif %}</h2>
		<h1 class="text-center" style="margin-top:-20px" id="lobbycode">{% if code %}{{code}}{% endif %}</h1>
		{% if not code %}
			<button id="genLobbyCode" type="button" class="yellow-button">Create a Lobby</button>
		{% endif %}
		<div id="wrapper">
			<div id="players">
			</div>
			<div id="spectators">
			</div>
		</div>
	</div>
	
{%endblock%}
