{%extends "layout.html"%}
{%block head%}
	<title>Squircle Login</title>

	<meta name="viewport" content="width=device-width, initial-scale=1">
	
	<link rel="stylesheet", href="{{url_for("static", filename="css/login-container.css")}}", type="text/css"/>
	<link rel="stylesheet", href="{{url_for("static", filename="css/desktop.css")}}", type="text/css"/>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

		<script>
			$(window).on('load',function(){
				$("#signindiv").show();
			});
		
			$(function() {
				$(".but").on("click",function(e) {
					e.preventDefault();
					$(".content").hide();
					$("#"+this.id+"div").show();
				});
			});
		</script>

{%endblock%}
{%block body%}

	<div style="padding:20px;margin-top:12%"></div>

		<div class="logincontainer">
			<img src="../static/images/logos/squircle_logoWtext.png" class="scale-logo-mobile">
		</div>
		<div style="padding:20px;margin-top:3%"></div>
							
	<div class="btn-group" style =" width:100%;">
		<button class="but" type="button" id="signin" style="width:50%">Sign In</button>
		<button class="but" type="button" id="createAccount" style="width:50%">Create Account</button>
	</div>

	<div id="signindiv" class="content">
			<form class="modal-content animate" action="" method="post">
						<div class="container">
						<input type="text" placeholder="Enter Username" name="user" required>
						<input type="password" placeholder="Enter Password" name="pass" required>
						<input type="submit" class="login-button" value="Login" name="type" id="button_logon"/>
						</div>
			
						<!-- <button type="button" onclick="document.getElementById('id01').style.display='none'" class="cancelbtn">Cancel</button> -->
					</div>
				</form>
		</div>

	<div id="createAccountdiv" class="content" hidden>
			<form class="modal-content animate" action="" method="post">

						<div class="container">
						<input type="text" placeholder="Enter Username" name="user" required>
						<input type="password" placeholder="Enter Password" name="pass" required>
						<div style="margin-top:10px"></div>
						<p>-----  The following is optional  -----</p>
						
						<input type="text" placeholder="Country" name="country">
						<!-- <input type="number" min="1" max="130" placeholder="Age" name="age" style="margin-top:10px"> -->
						<input type="text" placeholder="About Me" name="about">
						<input type="submit" class="login-button" value="Sign Up" name="type" id="button_create"/>
						</div>
			
						<!-- <div class="container"> -->
						<!-- <button type="button" onclick="document.getElementById('id02').style.display='none'" class="cancelbtn">Cancel</button> -->
					</div>
				</form>
		</div>


	<script>
			// Get the modal
			var modal = document.getElementById('id01');
			
			// When the user clicks anywhere outside of the modal, close it
			window.onclick = function(event) {
				if (event.target == modal) {
					modal.style.display = "none";
				}
			}
			</script>
{%endblock%}
