{%extends "layout.html"%}
{%block head%}
	<title>Squircle Login</title>
	
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- STYLESHEETS-->
	<link rel="stylesheet", href="{{url_for("static", filename="css/nav-bar.css")}}", type="text/css"/>
	<link rel="stylesheet", href="{{url_for("static", filename="css/login-container.css")}}", type="text/css"/>
	<link rel="stylesheet", href="{{url_for("static", filename="css/desktop.css")}}", type="text/css"/>

	<!-- FOR USE WITH LOGIN CONTAINER-->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<script>
			$(window).on('load',function(){
				$("#signindiv").show();
			});
		
			$(function() {
				$(".but").on("click",function(e) {
					e.preventDefault();
					$(".content").hide();
					$("#"+this.id+"div").show();
				});
			});
		</script>

{%endblock%}
{%block body%}

	<ul class="nav-bar">
		<li class="nav-bar"><a href="{{ url_for("faq") }}">FAQ</a></li>
	</ul>	

	<div style="padding:20px;margin-top:3%"></div>

	<div>
		<div class="center">
		<img src="../static/images/logos/squircle_logoWtext.png" class="scale-logo-mobile">
		</div>
	</div>

	<div style="margin-top:4%"></div>

	<div class="btn-group">
		<button class="but" type="button" id="signin" style="width:40%">Sign In</button>
		<button class="but" type="button" id="createAccount" style="width:40%">Create Account</button>
	</div>

	<div id="signindiv" class="content">
			<form class="modal-content animate" action="" method="post">
						<input type="text" placeholder="Enter Username" name="user" required>
						<input type="password" placeholder="Enter Password" name="pass" required>
						<input type="submit" class="login-button" value="Login" name="type" id="button_logon"/>
				</form>
	</div>
		
	<div id="createAccountdiv" class="content" style="display: none">
		<form class="modal-content animate" action="" method="post">
			<input type="text" placeholder="Enter Username" name="user" required>
			<input type="password" placeholder="Enter Password" name="pass" required>
			<p class= "option">-----  The following is optional  -----</p>			
			<input type="text" placeholder="Country" name="country">
			<input type="text" placeholder="About Me" name="about">
			<input type="submit" class="login-button" value="Create Account" name="type" id="button_create"/>
		</form>
	
	</div>
	
	<script>
			// Get the modal
			var modal = document.getElementById('id01');
			
			// When the user clicks anywhere outside of the modal, close it
			window.onclick = function(event) {
				if (event.target == modal) {
					modal.style.display = "none";
				}
			}
	</script>
{%endblock%}
{% block tip %}
	Click on <strong>Login</strong> and enter your username and password to login!
	</br>
	Click on <strong>Create A New Account</strong> and enter your profile information to get started with Squircle!
{% endblock %}