html {
	background-image: none;
}
.rel{
	position: relative;
}
#about {
	margin-right: 15%;
	margin-left: 15%;
	margin-top: 3%;
    font-family: 'Montserrat' , sans-serif;
	color: #ccc;
}
#about-title {
	font-size: 33px;
	/* background-color: rgb(198, 198, 198); */
}

.section h3 {
	font-size: 23px;
	margin-bottom: 0;
}

.section p {
	margin-top: 5px;
}

.section h4 {
	margin-top: 5px;
	margin-bottom: 0;
	font-size: 18px;
}

#about a {
	text-decoration: none;
}

#about a:link {
	color: grey;
}

#about a:unvisited {
	color: black;
}
@media screen and (min-width:700px) {
	#about {
		margin-right: 25%;
		margin-left: 25%;
	}
}