html {
	background-image: none;
}
.rel{
	position: relative;
}
#faq {
	margin-right: 10%;
	margin-left: 10%;
	margin-top: 3%;
    font-family: 'Montserrat' , sans-serif;
	color: #ccc;
}
#faq-title {
	font-size: 33px;
	/* background-color: rgb(198, 198, 198); */
}

.section h3 {
	font-size: 23px;
	margin-bottom: 0;
}

.section p {
	margin-top: 5px;
}

.section h4 {
	margin-top: 5px;
	margin-bottom: 0;
	font-size: 18px;
}

#faq a {
	text-decoration: none;
}

#faq a:link {
	color: grey;
}

#faq a:unvisited {
	color: black;
}
@media screen and (min-width:700px) {
	#faq {
		margin-right: 25%;
		margin-left: 25%;
	}
}


h2 {
	color:white;
	margin-top: 50px;
}