html {
	background-image: none;
	background-color: seashell;
}
.rel{
	position: relative;
}
#faq {
	margin-right: 25%;
	margin-left: 25%;
	margin-top: 3%;
}
#faq-title {
	font-size: 33px;
	/* background-color: rgb(198, 198, 198); */
}

#container {
	margin: 0;
}

.section h3 {
	font-size: 23px;
	margin-bottom: 0;
}

.section p {
	margin-top: 5px;
}

.section h4 {
	margin-top: 5px;
	margin-bottom: 0;
}