@import url('https://fonts.googleapis.com/css?family=Montserrat');

body {margin:0;}

ul.nav-bar{
    list-style-type: none;
    margin-top: 0;
	margin-bottom: 10px;
    padding:10px 0;
    overflow: hidden;
    /* background-color: #111; */
    position: relative;
    top: 0;
    width: 100%;
    font-family: 'Montserrat';
}

ul li {
    float: left;
    list-style-type: none;
    margin: 0 6px;
  }

ul.nav-bar li a{
    display: block;
    color: white;
    height: 26px;

    text-align: center;
    /* margin-top:1px;
    margin-right: 10px;
    margin-left:5px; */
    padding: 16px 16px;
    text-decoration: none;
    font-family: 'Montserrat' , sans-serif;

}

ul.nav-bar li a:hover:not(.active) {
    background-color: rgba(0,0,0,.2);
}

.active {
    background-color: rgba(0,0,0,.5);
}

