#container {
	margin: auto;
	display: block;
	width :50%;
}

.text-center {
	text-align: left;
}

html { 
	background: url(../images/backgrounds/website.png) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
  }